h1 Ticket Details
a(href="/logout" class="logout-button") Logout
p VATIN: #{ticket.vatin}
p First Name: #{ticket.firstname}
p Last Name: #{ticket.lastname}
p Username: #{ticket.username}
p Created At: #{ticket.timecreated}
a(href="/generate-ticket" class="logout-button") Generate another ticket